<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-4 py-2">
    <div class="flex justify-between">
      <div>
        <a routerLink="/" class="text-white text-xl font-bold">INPROCODE</a>
      </div>
      <div class="flex space-x-4">
        <a
          routerLink="/"
          class="text-white hover:bg-gray-700 px-3 py-2 rounded-md"
          >Home</a
        >
        <a
          routerLink="/maps"
          class="text-white hover:bg-gray-700 px-3 py-2 rounded-md"
          >Maps</a
        >
        <a
          routerLink="/graphs"
          class="text-white hover:bg-gray-700 px-3 py-2 rounded-md"
          >Graphs</a
        >
        <a
          routerLink="/calendar"
          class="text-white hover:bg-gray-700 px-3 py-2 rounded-md"
          >Calendar</a
        >
      </div>
    </div>
  </div>
</nav>
