<google-map
  height="600px"
  width="100%"
  [center]="center"
  [zoom]="zoom"
  (mapClick)="addMarker($event)"
>
  @for (marker of markers; track $index) {
  <map-marker
    [position]="marker.position"
    [title]="marker.title"
    (mapClick)="removeMarker($index)"
  >
  </map-marker
  >}
</google-map>
<div class="text-center">
  <h2 class="font-bold underline">Instructions</h2>
  <p>
    To add a marker, click on a place once. <br />To remove that marker, click
    on the marker again.
  </p>
</div>
